<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <body>
    <div class="jumbotron">
        <h2>Sign Up!</h2>
        <form action="signUp" method="post">
          <label>User ID: <input type="text" name="user_id" required></label><br>
          <label>Password: <input type="password" name="password" required></label><br>
          <label>Name: <input type="text" name="name" required></label><br>
          <button type="submit">Sign Up</button>
    </div>
  </body>
</main>
<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>